*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 200;
}
body{
    transition: 1s;
}
h1{
    text-align: center;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    padding: 10px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 10%;
    outline: none;
}

button:hover{
    background: green;
}